@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Codystar&family=Fredericka+the+Great&family=Megrim&family=Syncopate&display=swap');

:root {
  /* Farben */
  --primary-color: #406f8f;
  --secondary-color: #968d86;
  --light-bg-apps: #fdfbf2;
  --body-bg: #bbb2ab;

  --box-shadow: 0 0 3px var(--primary-color), 0 0 6px var(--primary-color), 0 0 10px var(--primary-color);

  --triangle-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));

  /* Standard-Schriftarten */
  --font-syncopate: 'Syncopate', sans-serif;
  --font-amatic: 'Amatic SC', cursive;

  /* Benutzer-Schriftarten */
  --font-megrim: 'Megrim', cursive;
  --font-fredericka: 'Fredericka the Great', cursive;
  --font-codystar: 'Codystar', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html, body {
    display: flex;
    min-height: 100vh;
    background-color: var(--body-bg);
    font-family: var(--font-syncopate), sans-serif;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}


/* Sidebar */
.sidebar {
    width: fit-content;
    background: var(--triangle-gradient);
    color: var(--light-bg-apps);
    padding-top: 20px;
    position: fixed;
    height: 100%;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Transition für width und opacity */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    min-width: 60px;
    opacity: 0.8;
}

.sidebar:hover {
    width: 235px;
    opacity: 1;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

.sidebar ul li {
    text-align: center;
    width: 100%;
}
/* Einstellungen & Logout nach unten verschieben */
.sidebar .sidebar-bottom {
    margin-top: auto;
    width: 100%;
}

.sidebar ul li:last-child, 
.sidebar ul li:nth-last-child(2) {
    margin-top: auto;
}

.sidebar ul li a {
    color: var(--light-bg-apps);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s; /* Hintergrund und Textfarbe animieren */
}

.sidebar ul li a:hover {
    background-color: var(--secondary-color);
    color:var(--light-bg-apps);
}

/* Icons */
.sidebar ul li a i {
    width: 30px;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.sidebar ul li a span {
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 0.8rem;
    
}

.sidebar:hover ul li a span {
    opacity: 1;
}

/* Begrüßungstext */
.sidebar h2 {
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
    white-space: nowrap;
}

.family-info {
    background: linear-gradient(rgba(0, 0, 0, 0.3), #406f8f), url(./../public/img/alltogether.JPG) center 10%  / cover no-repeat; /* Bild nach unten verschieben */
    min-height: 40vh;
    height: auto;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 2% 17%;
    width: calc(100% - 180px);
    max-width: 1200px;
}


.family-info p {
    font-size: 2rem;
    font-family: var(--font-fredericka);
    text-align: center;
    position: absolute;
    top: 15%;
    left: 80%;
    transform: translate(-50%, -50%);
}

/* Dashboard Layout */
.dashboard-container {
    display: flex;
    flex: 1;
    margin-left: 80px;
    padding: 20px;
    gap: 20px;
    align-items: stretch;
    overflow: hidden;
    height: 100%;

}

/* Apps-Bereich (linke Hauptspalte) */
    .apps-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        padding: 20px;
        flex: 1;
        width: 50%;
        align-items: start;
        align-content: start;
        background-color: #fff;
        margin-left: 10%;
        border-radius:5px;
        background-color: var(--light-bg-apps);
    }
    .apps-container div {
        aspect-ratio: 1 / 1; /* Quadratische Form */
        
        border-radius: 10px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }


.app {
        width: 100%;
        height: 19vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color);
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 0.8rem;
        text-align: center;
        text-decoration: none;
        transition: background 0.3s ease, transform 0.2s ease;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        cursor: pointer;
}


.app i {
    font-size: 1.5rem; /* Größe des Symbols */
}

.app:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

/* Rechte Dashboard Sektion */
.dashboard-rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 500px;
    max-width: 800px;
    padding: 20px;
    background:var(--light-bg-apps);
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    height: 100%; /* Volle Höhe */
    overflow-y: scroll; /* Scrollen im rechten Bereich erlauben */
}

/* Kalender Widget */
.calendar-widget {
    width: calc(100% - 40px); /* 100% minus Padding von 20px auf jeder Seite */
    background-color: var(--body-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10%;
}

.calendar-widget h3 {
    margin-bottom: 10px;
}

/* Familienmitglieder-Einladen Button */
.inviteButtonArea {
    text-align: center;
    margin-top: auto;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
}

.invite-button {
    align-self: center;
    padding: 5px;
    background-color: var(--primary-color);
    color:var(--light-bg-apps); 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Hintergrund und Textfarbe */
}

.invite-button:hover {
    background-color: var(--secondary-color);
    color:var(--light-bg-apps);  /* Stellen Sie sicher, dass die Textfarbe auch eine Transition hat */
}



.invite-header{
    margin-bottom: 20px;
    padding: 10px;  
}

