/* WebKit (Chrome, Edge, Safari) */
.dashboard-rightSection::-webkit-scrollbar {
    width: 8px;
}

.dashboard-rightSection::-webkit-scrollbar-track {
    background: var(--light-bg-apps);
    border-radius: 10px;
}

.dashboard-rightSection::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.dashboard-rightSection::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
}

/* Firefox */
.dashboard-rightSection {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--light-bg-apps);
}
