/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Codystar&family=Fredericka+the+Great&family=Megrim&family=Syncopate&display=swap');

:root {
  /* Farben */
  --primary-color: #406f8f;
  --secondary-color: #968d86;
  --light-bg-apps: #fdfbf2;
  --body-bg: #bbb2ab;

  --box-shadow: 0 0 3px var(--primary-color), 0 0 6px var(--primary-color), 0 0 10px var(--primary-color);

  --triangle-gradient: linear-gradient(135deg, var(--primary-color), var(--secondary-color));

  /* Standard-Schriftarten */
  --font-syncopate: 'Syncopate', sans-serif;
  --font-amatic: 'Amatic SC', cursive;

  /* Benutzer-Schriftarten */
  --font-megrim: 'Megrim', cursive;
  --font-fredericka: 'Fredericka the Great', cursive;
  --font-codystar: 'Codystar', cursive;

  --opacity-layer: 0.8;
  --triangle-height: 60vh;
  overflow: hidden;
}


/* General Reset */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  font-family: var(--font-syncopate), sans-serif;
  background: var(--triangle-gradient);
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  justify-content: space-between; /* Ensures buttons stay at the bottom */
}
.logo {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 350px;
  height: 350px;
  background-image: url(./../public/img/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: mergeLogos 1.5s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes mergeLogos {
  0% {
      transform: translate(-50%, 50%) scale(1);
      opacity: 1;
  }
  100% {
      transform: translate(-50%, 20%) scale(0.4);
      opacity: 0;
  }
}

@keyframes appearMiniLogo {
  0% {
      opacity: 0;
      transform: translate(-50%, 10%) scale(0.4);
  }
  100% {
      opacity: 1;
      transform: translate(-50%, 10%) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logoMini {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 150px;
  height: 150px;
  background-image: url(./../public/img/logoMini.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  animation: appearMiniLogo 1.5s ease-in-out forwards;
  animation-delay: 4s;
}

/* 🔹 Left and Right Background Layers */
.outer-layer {
  position: absolute;
  width: 50%;
  height: var(--triangle-height);
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.left {
  left: 0;

  background: url("./../public/img/decke.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; 
  background-position-x: center;

}

.right {
  right: 0;
 
  transform: scaleX(-1);
  background: url("./../public/img/see.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; 
  background-position-x: center;

}


/* 📷 Bottom Image */
.bottom-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - var(--triangle-height));
  background: url("./../public/img/alltogether2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center; 


  opacity: 0;
  transition: opacity 2s ease-in-out;
}

/* 🔺 Triangle */
.triangle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: var(--triangle-height);
  background: var(--triangle-gradient);
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  opacity: 0;
  transition: opacity .5s ease-in-out;
  animation: fadeIn 1s ease-in-out 4s forwards;
}

/* Login-Area */
.login-area {
  position: relative; /* Keine absolute Positionierung */
  z-index: 1;
  text-align: center;
  padding: 0 20px;
}

/* Formulareinstellungen */
.login-area form {
  display: block; /* Standardmäßig block, um die Felder untereinander anzuordnen */
  margin-top: 20px; /* Abstand zwischen Formular und Logo */

}

/* Formulareingabefelder */
.login-area label {
  display: block;
  margin: 5px 0 10px;
  text-align: center;
  color: var(--light-bg-apps);
}

/* Eingabefelder */
.login-area input {
  width: 25%; /* Breite der Eingabefelder an den Container anpassen */
  margin-bottom: 15px; /* Abstand zwischen den Eingabefeldern */
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* Login Button */
.login-area button {
  width: 100%;
  padding: 10px;
  background: var(--secondary-color);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 10px; /* Abstand zwischen dem Passwortfeld und dem Button */
}

/* Hover-Effekt für Button */
.login-area button:hover {
  background: var(--primary-color);
  color: var(--light-bg-apps);
}

/* Button-Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; /* Space between form and buttons */
}

/* Button styles */
.button-animation {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--secondary-color);
  color: var(--light-bg-apps);
  border-radius: 6px;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  animation: fadeIn 4s ease-in-out 4s forwards;
}

.button-animation::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, var(--primary-color), transparent);
  border-radius: 8px;
  z-index: -1;
  animation: borderGlow 6s linear infinite;
  background-size: 400% 400%;
  filter: blur(2px);
}

@keyframes borderGlow {
0% {
  background-position: 0% 50%;
}
25% {
  background-position: 100% 50%;
}
50% {
  background-position: 100% 100%;
}
75% {
  background-position: 0% 100%;
}
100% {
  background-position: 0% 50%;
}
}

.button-animation:hover {
  box-shadow: var(--box-shadow);
}

/* Icon Hover Effect */
.box__link i {
  font-size: 2rem;
  color: var(--light-bg-apps);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out, opacity 0.2s;
  text-decoration: none;
}

.box__link:hover #icon {
  opacity: 0.8;
}

.box__link:hover #register-icon {
  transform: none;
  opacity: 0.8;
}

a {
  text-decoration: none; /* Entfernt die Unterstreichung */
}