<FilesMatch "\.(php)$">
    Require all denied
</FilesMatch>

<FilesMatch "register-handler.php$">
    Require all granted
</FilesMatch>

<FilesMatch "logout-handler.php$">
    Require all granted
</FilesMatch>

<FilesMatch "register.php$">
    Require all granted
</FilesMatch>

<FilesMatch "add_user_app.php|remove_user_app.php|get_user_apps.php|get_aviable_apps.php">
    Require all granted
</FilesMatch>

<FilesMatch "gallery.php$|toDoList.php$|calender.php$|shoppingList.php$">
    Require all granted
</FilesMatch>

<FilesMatch "upload_image.php$|image_url.php$">
    Require all granted
</FilesMatch>