<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Verhindere direkten Zugriff auf sensible Dateien
    <FilesMatch "\.(ini|log|sh)$">
        Require all denied
    </FilesMatch>
</IfModule>